<div class="row">
  <div class="col-md-5 signup-col hidden-md hidden-lg" ng-show="state.initialMode" ng-include="'security/login/signupCol.tpl.html'"></div>

  <div class="col-md-7 signin-col" ng-class="{'col-md-7': state.initialMode, 'col-md-12': !state.initialMode}">
    <div class="signin-col-in">
      <p class="bold" ng-show="state.initialMode">Signin</p>
      <p class="bold" ng-hide="state.initialMode">Signup</p>
      <div ng-hide="state.emailSignupMode">
        <!-- facebook -->
        <div class="form-group" style="margin-top: 10px">
          <a class="btn btn-facebook" ng-click="facebookConnect()" style="width: 100%">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x text-facebook"></i>
            </span>
            <span ng-hide="state.initialMode">
              signup
            </span>
            <span ng-show="state.initialMode">
              connect
            </span>
          </a>
        </div>
        <div style="text-align: center; width: 100%">
          <div class="row">
            <div class="col-xs-5">
              <hr class="grey-hr" style="margin-top: 15px">
            </div>

            <div class="col-xs-2">
              or
            </div>

            <div class="col-xs-5">
              <hr class="grey-hr" style="margin-top: 15px">
            </div>
          </div>
        </div>

        <!-- email -->
        <form calss="css-form" name="loginForm" ng-show="state.initialMode">
          <div class="form-group">
            <input class="form-control form-control-grey" placeholder="Email" ng-model="loginUser.email">
          </div>
          <div class="form-group">
            <input class="form-control form-control-grey" type="password" placeholder="Mot de passe" ng-model="loginUser.password">
          </div>
          <div class="form-group" style="margin-top: 20px">
            <div class="pull-right">
              <small class="pointer" style="position: relative; top: 10px" ng-click="showForgotPassword()">Forgot password</small>
            </div>
            <button class="btn btn-bluejeans" ng-click="login()">signin</button>
          </div>
        </form>
        <button class="btn btn-enter text-default" style="width: 100%" ng-hide="state.initialMode" ng-click="state.emailSignupMode = true">email signup</button>
      </div><!-- !email signup mode -->

      <div ng-show="state.emailSignupMode">
        <form class="css-form" name="signupFrom" >
          <div class="form-group">
            <input class="form-control form-control-grey" ng-model="signupUser.firstname" type="text" placeholder="Prénom" required>
          </div>
          <div class="form-group">
            <input class="form-control form-control-grey" ng-model="signupUser.lastname" type="text" placeholder="Nom" required>
          </div>
          <div class="form-group">
            <input class="form-control form-control-grey" ng-model="signupUser.email" type="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input class="form-control form-control-grey" ng-model="signupUser.password" type="password" placeholder="Mot de passe" required>
          </div>
          <div class="form-group">
            <button class="btn btn-info" ng-click="signup()">signup</button>
          </div>
        </form>
      </div><!-- email signup mode -->

      <div ng-hide="state.initialMode" class="pointer form-group" style="position: absolute; bottom: 20px" ng-click="state.initialMode = true; state.emailSignupMode = false">
        <small>
          <span class="fa fa-arrow-left"></span> retour
        </small>
      </div>
    </div>
  </div>

  <div class="col-md-5 signup-col hidden-sm hidden-xs" ng-show="state.initialMode" ng-include="'security/login/signupCol.tpl.html'"></div>
</div>

</div>
