    <small class="glyphicon glyphicon-remove text-inverse pull-right" ng-click="close()" style="position: relative; top: 20px; right: 20px"></small>
    <div class="signup-col-in">
      <div class="lead bold" style="margin-bottom: 10px; margin-top: 45px">Crée ton compte</div>
      <p class="thin">Crée un compte pour pouvoir profiter pleinement de GogoReco !</p>
      <button style="margin-top: 10px" class="btn btn-signup" ng-click="state.initialMode = !state.initialMode; state.emailSignupMode = false; state.emailConnect = false"><span ng-show="state.initialMode">Inscription</span><span ng-hide="state.initialMode">retour </span></button>
    </div>

