<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="lead center bold text-aqua" ng-show="$rootScope.school">
        <span class="dropdown">
          <span class="dropdown-toggle pointer">
            {{ $rootScope.school.name }} <span class="caret"></span>
          </span>
          <ul class="dropdown-menu">
            <li ng-repeat="school in schools" ng-click="$rootScope.school = school"><a>{{ school.name }}</a></li>
          </ul>
        </span>
      </div>
      <div ng-hide="$rootScope.school">
        <div class="lead center bold text-aqua">
          Sélectionne un établissement
        </div>
        <ul class="list-unstyled" style="text-align: left">
          <li ng-repeat="school in schools" ng-click="$rootScope.school = school" class="pointer">
            {{ school.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" ng-show="$rootScope.school">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group form-search" style="margin-bottom: 15px">
        <input class="form-control search-query" placeholder="Trouve des cours recommandés à {{ $rootScope.school.name }}" typeahead="elem as elem.name for elem in getSearch( $viewValue )" typeahead-template-url="'recommendations/resultsTemplate.tpl.html'" ng-model="search">
      </div>
    </div>
  </div>
  <div class="row" ng-show="$rootScope.school">
    <div class="col-md-8 col-md-offset-2" ng-repeat="item in items">
      <div class="item">
        <div class="item-heading">
          <div class="lead text-aqua">{{ item.name }}</div>
        </div>
        <div class="item-divider">
          <div class="row">
            <div class="col-xs-3 col-sm-4">
              <hr class="reco-hr">
            </div>
            <div class="col-xs-6 col-sm-4">
              <div gr-reco-bars item="item"></div>
            </div>
            <div class="col-xs-3 col-sm-4">
              <hr class="reco-hr">
            </div>
          </div>
        </div>
        <div class="item-body">
          <div class="comment-in-reco" ng-repeat="comment in item.comments">
            <div class="inline-block">
              <a class="pull-left">
                <div class="profile-pic">
                  <img src="assets/images/moi.jpeg">
                </div>
              </a>
            </div>
            <div class="inline-block inline-block-text">
              <span class="bold">{{ comment.author.firstname }}</span>
              <span>{{ comment.content }}</span>
            </div>
          </div>
        </div>
        <div class="item-tags">
          <span class="badge" ng-repeat="tag in item.tags">{{ tag.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
