<div class="reco-bars">
  <div class="reco-bar reco-bar-love">
    <div class="reco-stack reco-stack-empty" ng-repeat="i in [0, 1, 2]"></div>
    <div class="reco-bar-icon">
      <span class="fa fa-heart-o"></span>
    </div>
    <div class="reco-stack reco-stack-full" ng-repeat="i in [0, 1]"></div>
    <small>10</small>
  </div>

  <div class="reco-bar reco-bar-reco">
    <div class="reco-stack reco-stack-empty" ng-repeat="i in [0, 1]"></div>
    <div class="reco-bar-icon">
      <span class="fa fa-smile-o"></span>
    </div>
    <div class="reco-stack reco-stack-full" ng-repeat="i in [0, 1, 2]"></div>
    <small>12</small>
  </div>
  <div class="reco-bar reco-bar-meh">
    <div class="reco-stack reco-stack-empty" ng-repeat="i in []"></div>
    <div class="reco-bar-icon">
      <span class="fa fa-meh-o"></span>
    </div>
    <div class="reco-stack reco-stack-full" ng-repeat="i in [0, 1, 2, 3, 4]"></div>
    <small>12</small>
  </div>
  <div class="reco-bar reco-bar-unreco">
    <div class="reco-stack reco-stack-empty" ng-repeat="i in [0, 1, 2, 3]"></div>
    <div class="reco-bar-icon">
      <span class="fa fa-frown-o"></span>
    </div>
    <div class="reco-stack reco-stack-full" ng-repeat="i in [0]"></div>
    <small>12</small>
  </div>
</div>

