<div class="reco-bars">
  <div class="reco-bar reco-bar-love">
    <div ng-repeat="i in array">
      <div class="reco-stack" ng-class="{'reco-stack-empty': (5 -$index )> score(3), 'reco-stack-full': score(3) > (5 - $index - 1)}"></div>
      <div class="reco-bar-icon" ng-show="5 - $index - 1== score(3)">
        <span class="fa fa-heart-o"></span>
      </div>
    </div>
    <small>{{ item.lovers_count }}</small>
  </div>

  <div class="reco-bar reco-bar-like">
    <div ng-repeat="i in array">
      <div class="reco-stack" ng-class="{'reco-stack-empty': (5 -$index )> score(2), 'reco-stack-full': score(2) > (5 - $index - 1)}"></div>
      <div class="reco-bar-icon" ng-show="5 - $index - 1 == score(2)">
        <span class="fa fa-thumbs-o-up"></span>
      </div>
    </div>
    <small>{{ item.likers_count }}</small>
  </div>

  <div class="reco-bar reco-bar-meh">
    <div ng-repeat="i in array">
      <div class="reco-stack" ng-class="{'reco-stack-empty': (5 -$index )> score(1), 'reco-stack-full': score(1) > (5 - $index - 1)}"></div>
      <div class="reco-bar-icon" ng-show="5 - $index - 1 == score(1)">
        <span class="fa fa-smile-o"></span>
      </div>
    </div>
    <small>{{ item.mehers_count }}</small>
  </div>

  <div class="reco-bar reco-bar-dislike">
    <div ng-repeat="i in array">
      <div class="reco-stack" ng-class="{'reco-stack-empty': (5 -$index )> score(0), 'reco-stack-full': score(0) > (5 - $index - 1)}"></div>
      <div class="reco-bar-icon" ng-show="5 - $index - 1 == score(0)">
        <span class="fa fa-meh-o"></span>
      </div>
    </div>
    <small>{{ item.haters_count }}</small>
  </div>
</div>
