<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  </body>

  <p>**** english below ****</p>
  <h2>Salut<%= " "+@firstname %>, bienvenue sur Shapter !</h2>

  <p>
    Je suis Alex et je m'occupe de concevoir le site <%= link_to('shapter.com','http://shapter.com') %><br/>
    Pour fabriquer le meilleur site possible, j'ai besoin de prendre en compte en détail l'expérience de chaque utilisateur sur Shapter.
  </p>

  <p>
    <strong>
      --> C'est là que tu interviens !! :-)
    </strong>
  </p>

  <p>
    J'aimerais connaître tes impressions : accepterais-tu que je t'appelle 5 minutes pour avoir ton avis ? Envoie-moi juste ton numéro de tél en réponse à ce mail et je t'appellerai. Ce serait génial ! 
  </p>

  <p>
    Tu peux aussi simplement m'écrire un email avec tes impressions, attentes, incompréhensions etc. Ou m'appeler directement.
  </p>

  <p>
    J'attends ta réponse !
    Merci et à bientôt sur Shapter 
  </p>

  <p>
    Alex<br/>
    06 65 58 07 91<br/>
    http://shapter.com<br/>
  </p>


  <p>
    -------------------------------- English version -------------------------------- 
  </p>

  <p>
    Hi<%= " "+@firstname %>, welcome on Shapter !<br/>
    I'm Alex and I'm responsible for your experience on the <%= link_to('shapter.com','http://shapter.com') %> website.
  </p>

  <p>
    To provide you with the best possible service, I try to take everyone's feedback into account.
  </p>

  <p>
    <strong>
      --> And this is where I need you !! :-)
    </strong>
  </p>

  <p>
    Would it be ok if I gave you a 5 min call to share your feelings about your experience on shapter ? If so, simply email me your phone number and I'll get back to you, that'd be awesome !
  </p>

  <p>
    You can also simply drop me an email to share your feedback, what you expected, what you didn't understand etc. Or call me directly.
  </p>

  <p>
    I'm waiting to hear from you !<br/>
    Many thanks, and see you soon on Shapter 
  </p>

  <p>
    Alex<br/>
    06 65 58 07 91<br/>
    http://shapter.com<br/>
  </p>
