angular.module('gogoreco.config', [])
.constant('ENV', {

  mixpanel_id: "", 
  //prod: "7c22845548c9b7e3ff0323ce7ac532bc",
  //dev: "" ( let empty in dev )

  facebook_app_id: '558b2acd1fa49b5312f0ada135b9bc9e'
  // dev: '558b2acd1fa49b5312f0ada135b9bc9e' 
  // prod: '8326a17c2df050b66a4683177504ada4'

});

