# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure your secret_key_base is kept private
# if you're sharing your code publicly.
ShapterApi::Application.config.secret_key_base = '4fb1a740ef793ad9dd291401a4fee95a77a388bbcf407bcbf05d2f1d2579849191484d6de738a2ebc0bddbef158b6a0d373eff450c533f2864567f05dae34e46'
