if Rails.env.production?
  TWITTER_APP_CONSUMER_KEY = "xx"
  TWITTER_APP_CONSUMER_SECRET = "xx"
  TWITTER_APP_ACCESS_TOKEN = "xx"
  TWITTER_APP_ACCESS_TOKEN_SECRET = "xx"
else
  TWITTER_APP_CONSUMER_KEY = "xxx"
  TWITTER_APP_CONSUMER_SECRET = "xxx"
  TWITTER_APP_ACCESS_TOKEN = "xxx"
  TWITTER_APP_ACCESS_TOKEN_SECRET = "xxx"
end
