.school {
  padding: 10px;
  color: @darkgray;
  font-weight: bold;
  &:hover {
    & .school-icon {
      color: @s-mint;
      border-color: @s-mint;
    }
    & .school-name {
      color: @s-mint;
    }
  }
  & .school-name {
    margin-top: 20px;
  }
  & .school-icon {
    padding: 10px;
  }
}
