<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 100px">
      <!-- initial view -->
      <div ng-hide="itemToRecommend">
        <div class="lead bold text-aqua center">
          Tape le nom d'un cours  que tu aimerais recommander à {{ $rootScope.school.name }} :
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" typeahead="item as item.name for item in getTypeahead( $viewValue )" typeahead-min-length="3" ng-model="selectedItem" typeahead-on-select="onItemSelect()">
          </div>
          <div class="form-group clearfix">
            <div class="pull-right">
              <button class="btn btn-bluejeans" ng-click="selectTextItem()">Valider</button>
            </div>
          </div>
        </form>

        <div class="gr-well">
          <ul class="list-unstyled">
            <li ng-repeat="item in shouldLike">{{ item.name }}</li>
          </ul>
        </div>
      </div>

      <!-- recommend -->
      <div ng-show="itemToRecommend" gr-evaluate="itemToRecommend" cb="initialize()"></div>

    </div>
  </div>
</div>
