<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 100px">

      <div class="dropdown" style="margin-bottom: 20px" ng-hide="itemToRecommend || displayAddSchool">
        <span class="lead bold text-orange dropdown-toggle">
          <span ng-hide="$rootScope.school">
            Sélectionne un établissement dans lequel tu as suivi des cours
          </span>
          <span ng-show="$rootScope.school">{{ $rootScope.school.name }} </span>
          <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" style="text-align: left">
          <li ng-click="displayAddSchool = true; $rootScope.school = {}"><a><span class="fa fa-plus"></span> Ajouter une école</a></li>
          <li class="divider"></li>
          <li ng-repeat="school in schools" ng-click="$rootScope.school = school" class="pointer">
            <a>
              {{ school.name }}
            </a>
          </li>
        </ul>
      </div>

      <div ng-show="displayAddSchool">
        <label>Donne le nom de ton établissement !</label>
        <div class="form-group">
          <input class="form-control" ng-model="$rootScope.school.name">
        </div>
        <div class="form-group">
          <button class="btn btn-bluejeans" ng-click="displayAddSchool = false">Valider</button>
        </div>
      </div>

      <div ng-show="$rootScope.school.name && !displayAddSchool">
        <!-- initial view -->
        <div ng-hide="itemToRecommend">
          <div class="lead bold text-aqua">
            Tape le nom d'un cours que tu aimerais recommander à <span ng-show="$rootScope.school">{{ $rootScope.school.name }} :</span>
          </div>
          <form>
            <div class="form-group">
              <input class="form-control" typeahead="item as item.name for item in getTypeahead( $viewValue )" typeahead-min-length="3" ng-model="selectedItem" typeahead-on-select="onItemSelect()" placeholder="Qui n'a pas suivi au moins un bon cours ? :-)">
            </div>
            <div class="form-group">
              <button class="btn btn-bluejeans" ng-click="selectTextItem()">Valider</button>
            </div>
          </form>
          <!--
          <div class="gr-well">
            <ul class="list-unstyled">
              <li ng-repeat="item in shouldLike">{{ item.name }}</li>
            </ul>
          </div>
          -->
        </div>
      </div>

    </div>
  </div>
</div>
