<div class="lead bold text-aqua center">
  {{ item.name }}
</div>

<!-- evaluate -->
<div ng-hide="item.current_user_score">
  <div class="form-group">
    <div class="eval-buttons">
      <div class="inline-block center" style="width: 33%">
        <div class="btn btn-love" ng-click="item.evalItem(4)"><span class="fa fa-heart"></span></div>
        <div class="bold text-aqua">coup de cœur</div>
      </div>
      <div class="inline-block center" style="width: 33%">
        <div class="btn btn-reco" ng-click="item.evalItem(3)"><span class="fa fa-thumbs-up"></span></div>
        <div class="bold text-aqua">très bon</div>
      </div>
      <div class="inline-block center" style="width: 33%">
        <div class="btn btn-meh" ng-click="item.evalItem(2)"><span class="fa fa-smile-o"></span></div>
        <div class="bold text-aqua">bon</div>
      </div>
    </div>
  </div>
</div>

<!-- comment -->
<div ng-show="item.current_user_score && !item.current_user_commented">
  <div class="form-group">
    <small ng-click="item.evalItem(0)"><span class="glyphicon glyphicon-remove"></span> Annuler la recommandation</small>
    <br>
    <label class="text-aqua">Explique pourquoi tu recommandes ce cours </label>
    <textarea rows="5" class="form-control" ng-model="item.comment"></textarea>
  </div>
  <div class="form-group clearfix">
    <button class="btn btn-bluejeans" ng-click="item.commentItem(  item.comment )">Valider</button>
  </div>
</div>

<div ng-show="item.currentUserComment">
  <gr-comment comment="item.currentUserComment"></gr-comment>
</div>

<!-- tag -->
<div ng-show="item.currentUserComment || item.willCommentLater" style="margin-top: 30px">
  <label class="text-aqua">Référence ton cours en ajoutant des tags (sinon, les autres ne pourront pas trouver ton évaluation)</label>
  <div class="form-group">
    <span class="badge badge-grapefruit" ng-repeat="tag in item.tags">{{ tag.name }} <small class="glyphicon glyphicon-remove" ng-click="item.tags.splice( $index, 1 )"></small></span>
  </div>
  <form class="css-form" novalidate name="addTagsForm">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="item.tagToAdd" typeahead="tag.name as tag.name for tag in getTagTypeahead( $viewValue )" typeahead-editable="true" typeahead-on-select="addTag()" typeahead-min-length="3">
        <span class="input-group-btn">
          <button class="btn btn-bluejeans" ng-click="addTag()" style="height: 34px; padding: 5px 12px">Ajouter</button>
        </span>
      </div>
    </div>
  </form>
  <form>
  <div class="form-group">
    <button class="btn btn-bluejeans" ng-click="addTagsToItem()">Terminer</button>
  </div>
</form>
</div>


