<p>Bienvenue, <%= @email %>!</p>

<p>Merci de confirmer ton adresse en cliquant sur le lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon email', "http://shapter.com/#/users/confirmation?confirmation_token=#{@token}" %></p>

<p>Ou en copiant directement ce lien dans un navigateur:</p>
<p><%="http://shapter.com/#/users/confirmation?confirmation_token=#{@token}"%></p>
