<p>Bonjour <%= @resource.email %>!</p>

<p>Pour changer ton mot de passe Shapter, clique sur le lien suivant:</p>

<p><%= link_to 'Changer mon mot de passe', "http://shapter.com/#/users/password/edit?reset_password_token=#{@token}" %></p>

<p>Ou copie directement ce lien dans un navigateur:</p>
<p><%="http://shapter.com/#/users/password/edit?reset_password_token=#{@token}"%></p>

