<form name="form" novalidate class="login-form">
  <div class="modal-body">
  <button type="button" class="close" ng-click="cancelForgotPassword()">×</button>
  <h4>Mot de passe oublié</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="login">Email</label>
        <input name="login" class="form-control" type="email" id="login" ng-model="user.email" sh-auto-focus="true" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-sunflower cancel" ng-click="cancelForgotPassword()">Annuler</button>
    <button class="btn btn-bluejeans login" ng-click="forgotPassword()">Valider</button>
  </div>
</div>
</form>
